/* header background rgba(255, 255, 255, 0.9)  footer background #e8e8e6;; #363945; #5b6b7f;
grey #484551;
blue :#4fa3db;*/

/************************Navbar*******************/

header {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.navmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 60px;
}

.navmenu img {
  width: 60px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 30%;
  list-style: none;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #484551;
}

.nav-links a:hover {
  text-decoration: underline;
  color: #4fa3db;
}

.dropbtn {
  color: #484551;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 8%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #4fa3db;
  text-decoration: underline;
}

/*****************about-section*****************/

.about-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.css-span {
  color: #4fa3db;
  font-weight: bold;
}

.watchvideo-btn {
  margin-top: 10px;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  width: 150px;
}

.watchvideo-btn:hover {
  background-color: #4fa3db;
  color: white;
}

/**************projects-section*************/

.projects-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project img {
  margin-top: 25px;
  margin-bottom: 25px;
}

.project h3 {
  text-align: center;
}

.project p {
  line-height: 35px;
}

.project a {
  color: #484551;
}

/*******************footer****************/

footer {
  height: 70px;
  background-color: #e8e8e6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.footer-message span {
  color: #5b6b7f;
  font-weight: bold;
}
